body {
  margin-left: 20%;
  margin-right: 20%;
  background-image: url(../imagens/fundo.png);
  font-family: "Arial", sans-serif;
}

img {
  border: 4px solid limegreen;
}

h1, h2 {
  color: limegreen;
  font-family: "Times New Roman", serif;
}
